@import url("palette.css");
@import url("font.css");

.row
{
    display: flex; /* Arrange children in a row */
}

body
{
    background-color: var(--base-2);
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    margin: 0;
}

.page-container
{
    position: relative;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    border: 0;
    pointer-events: none;
}

.menu
{
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Optional: Removes indentation */
    justify-content: space-between;
    margin: 10%;
    margin-top: 10px;
}

.menu button
{
    background-color: transparent; /* Transparent background */
    border: none;                  /* No border */
    color: var(--text);                  /* Text color */
    font-size: 16px;               /* Text size */
    height: 40px;
    
}

.menu button:hover
{
    border-bottom: 2px solid var(--blue-1);
    color: var(--blue-1);
}

.menu .logo
{
    position: inherit;
    background-color: var(--base-1);
    border-style: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: var(--blue-1);
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.menu .logo .themeExchanger
{
    position: absolute;
    width: 60px;
    height: 60px;
}

.menu .logo .themeExchanger:hover
{
    border-bottom: none;
}

.menu .logo .logo-img
{
    width: 50px;
    height: 50px;
    margin-top: 3px;
    margin-left: -1px;
    pointer-events: none;
}

header
{
    background-color: var(--base-1);
    height: 60px;
    border-bottom: 2px solid var(--blue-1);
}

footer
{
    background-color: var(--base-1);
    height: 60px;
    border-top: 2px solid var(--blue-1);
}

.social-media-button
{
    background-color: transparent; /* Transparent background */
    border: none;                  /* No border */
    width: 50px;
    height: 50px;
    color: var(--text);
}

.social-media-button:hover
{
    color: var(--blue-1);
}

.social-media-button i
{
    font-size: 24px;
}

.contact
{
    list-style-type: none; /* Removes default bullets */
    padding: 0; /* Optional: Removes indentation */
    padding-left: 10px;
    padding-right: 10px;
    justify-content: center;
    margin: 10%;
    margin-top: 0;
}
