@import url("../css/palette.css");
@import url("../css/font.css");

h1
{
    font-family: "Arima";
    font-weight: 700;
    color: var(--other-text);
}

p
{
    font-family:"Arima";
    font-weight: 200;
    color: var(--other-text);
}