:root {
    --blue-1: #88D3CE;
    --blue-2: #68C3C5;
    --blue-3: #5CB8C0;
    --blue-4: #64B5C8;
    --blue-5: #4BA3B9;

    --base-1: #FFFFFF;
    --base-2: #efeded;
    --base-3: #e4e4e4;
    --other-base-1: #3C3C3C;
    --other-base-2: #282828;
    --other-base-3: #404144;
}